upstream etebase {
    server unix:///tmp/etebase_server.sock;
}

server {
    listen      {{ esc_port }};
    server_name{% for host in esc_hosts %} {{ host }}{% endfor %};
    charset     utf-8;

    ssl_certificate /etc/letsencrypt/live/{{ item }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ item }}/privkey.pem;

    location /static/ {
        alias {{ esc_rootdir }}/static/;
    }

    location / {
        proxy_pass http://etebase;

        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $server_name;
    }
}

server {
    if ($host = {% for host in esc_hosts %} {{ host }}{% endfor %}) {
        return 301 https://$host$request_uri;
    }
    listen      80;
    server_name {% for host in esc_hosts %} {{ host }}{% endfor %};
    return 404;
}
